<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOTBALL</title>
    <link rel="stylesheet" href="./css/football.css">
</head>
<body>
        <div class="green-container">
            <div class="first">
                    <br><br><br>
                        <div class="row">
                            <div class="column red">
                                <a href="#">
                                    <img src="img/red.jpg" alt="GK">
                                </a>
                                <br>
                               <p id="TEAM 2 GK"> </p>
                            </div>
                        </div>
                            <br>
                        <div class="row">
                            <div class="column black">
                                <a href="#">
                                    <img src="img/black.jpg" alt="LW">
                                </a><br>
                                <p id="TEAM 1 LW "> </p>
                            </div>
                            <div class="column black">
                                <a href="#">
                                    <img src="img/black.jpg" alt="CF">
                                </a><br>
                                <p id="TEAM 1 CF"> </p>
                            </div>
                            <div class="column black">
                                <a href="#">
                                    <img src="img/black.jpg" alt="RW">
                                </a><br>
                                <p id="TEAM 1 RW"> </p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="column1 red">
                                <a href="#">
                                    <img src="img/red.jpg" alt="LB">
                                </a><br>
                                <p id="TEAM 2 LB"></p>
                            </div>
                            <div class="column1 red">
                                <a href="#">
                                    <img src="img/red.jpg" alt="CB1">
                                </a><br>
                                <p id="TEAM 2 CB1"></p>
                            </div>
                            <div class="column1 red">
                                <a href="#">
                                    <img src="img/red.jpg" alt="CB2">
                                </a><br>
                                <p id="TEAM 2 CB2"></p>
                            </div>
                            <div class="column1 red">
                                <a href="#">
                                    <img src="img/red.jpg" alt="RB">
                                </a><br>
                                <p id="TEAM 2 RB"></p>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="column black">
                                <a href="#">
                                    <img src="img/black.jpg" alt="LM">
                                </a><br>
                                <p id="TEAM 1 LM"></p>
                            </div>
                            <div class="column black">
                                <a href="#">
                                    <img src="img/black.jpg" alt="CM">
                                </a><br>
                                <p id="TEAM 1 CM"></p>
                            </div>
                            <div class="column black">
                                <a href="#">
                                    <img src="img/black.jpg" alt="RM">
                                </a><br>
                                <p id="TEAM 1 RM"></p>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="column red">
                                <a href="#">
                                    <img src="img/red.jpg" alt="LM">
                                </a><br>
                                <p id="TEAM 2 LM"></p>
                            </div>
                            <div class="column red">
                                <a href="#">
                                    <img src="img/red.jpg" alt="CM">
                                </a><br>
                                <p id="TEAM 2 CM"></p>
                            </div>
                            <div class="column red">
                                <a href="#">
                                    <img src="img/red.jpg" alt="RM">
                                </a><br>
                                <p id="TEAM 2 RM"></p>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="column1 black">
                                <a href="#">
                                    <img src="img/black.jpg" alt="LB">
                                </a><br>
                                <p id="TEAM 1 LB"></p>
                            </div> 
                            <div class="column1 black">
                                <a href="#">
                                    <img src="img/black.jpg" alt="CB1">
                                </a><br>
                                <p id="TEAM 1 CB1"></p>
                            </div>
                            <div class="column1 black">
                                <a href="#">
                                    <img src="img/black.jpg" alt="CB2">
                                </a><br>
                                <p id="TEAM 1 CB2"> </p>
                            </div>
                            <div class="column1 black">
                                <a href="#">
                                    <img src="img/black.jpg" alt="RB">
                                </a><br>
                                <p id="TEAM 1 RB"></p>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="column red">
                                <a href="#">
                                    <img src="img/red.jpg" alt="LW">
                                </a><br>
                                <p id="TEAM 2 LW"></p>
                            </div>
                            <div class="column red">
                                <a href="#">
                                    <img src="img/red.jpg" alt="CF">
                                </a><br>
                                <p id="TEAM 2 CF"></p>
                            </div>
                            <div class="column red">
                                <a href="#">
                                    <img src="img/red.jpg" alt="RW">
                                </a><br>
                                <p id="TEAM 2 RW"></p>
                                </div>
                            </div>
                            <br>
                        <div class="row">
                            <div class="column black">
                                <a href="#">
                                    <img src="img/black.jpg" alt="GK">
                                </a><br>
                                <p id="TEAM 1 GK"></p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="second">
                <h1>LIVE TICKER</h1>



        </div>
        <script type="text/javascript" src="js/football.js"></script>
    </body>
</html>