<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" href="/css/football.css">
</head>
<body>
    <form action="" method="">
        
        


        <div class="container">
            <label for="TEAM 1"> TEAM  : </label>
            <input type="text" id="TEAM 1" name="">
            <br>
            <br>
            <select name="" id="TEAM NUMBER">
                <option value=1>1</option>
                <option value=2>2</option>

            </select>
            <br><br>
            TEAM PLAYERS
            <br><br>
            <label for="TEAM 1 GK"> GK : </label>
            <input type="text" id="TEAM 1 GK" name="">
            <br>
            <br> <label for="TEAM 1 LB"> LB : </label>
            <input type="text" id="TEAM 1 LB" name="">
            <br>
            <br> <label for="TEAM 1 CB1 "> CB1 : </label>
            <input type="text" id="TEAM 1 CB1" name="">
            <br>
            <br> <label for="TEAM 1 CB2"> CB2 : </label>
            <input type="text" id="TEAM 1 CB2" name="">
            <br>
            <br> <label for="TEAM 1 RB"> RB : </label>
            <input type="text" id="TEAM 1 RB" name="">
            <br>
            <br> <label for="TEAM 1 LM"> LM : </label>
            <input type="text" id="TEAM 1 LM" name="">
            <br>
            <br> <label for="TEAM 1 CM"> CM : </label>
            <input type="text" id="TEAM 1 CM" name="">
            <br>
            <br> <label for="TEAM 1 RM"> RM : </label>
            <input type="text" id="TEAM 1 RM" name="">
            <br>
            <br> <label for="TEAM 1 LW"> LW : </label>
            <input type="text" id="TEAM 1 LW" name="">
            <br>
            <br> <label for="TEAM 1 CF"> CF : </label>
            <input type="text" id="TEAM 1 CF" name="">
            <br>
            <br> <label for="TEAM 1 RW"> RW: </label>
            <input type="text" id="TEAM 1 RW" name="">
            <br>
            <br>
            <button id="submit"> Submit </button>
        </div>

         
        
        

    </form>
    
    
        <br> <br>
        <br> <br>
        <br><br>
        <br> 
        <br>
        <br> <br>
        <br> <br>
        <br> <br>
        <br>
     
        <!-- <div class="green-container">
            <div class="first">
                    <br><br><br>
                    
                        <div class="row">
                            <div class="column red">
                                <a href="#">
                                    <img src="red.jpg" alt="GK">
                                </a>
                                <br>
                               <p id="TEAM 2 GK"> </p>
                            </div>
                        </div>
                            <br>
                        <div class="row">
                            <div class="column black">
                                <a href="#">
                                    <img src="black.jpg" alt="LW">
                                </a><br>
                                <p id="TEAM 1 LW "> </p>
                            </div>
                            <div class="column black">
                                <a href="#">
                                    <img src="black.jpg" alt="CF">
                                </a><br>
                                <p id="TEAM 1 CF"> </p>
                            </div>
                            <div class="column black">
                                <a href="#">
                                    <img src="black.jpg" alt="RW">
                                </a><br>
                                <p id="TEAM 1 RW"> </p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="column1 red">
                                <a href="#">
                                    <img src="red.jpg" alt="LB">
                                </a><br>
                                <p id="TEAM 2 LB"></p>
                            </div>
                            <div class="column1 red">
                                <a href="#">
                                    <img src="red.jpg" alt="CB1">
                                </a><br>
                                <p id="TEAM 2 CB1"></p>
                            </div>
                            <div class="column1 red">
                                <a href="#">
                                    <img src="red.jpg" alt="CB2">
                                </a><br>
                                <p id="TEAM 2 CB2"></p>
                            </div>
                            <div class="column1 red">
                                <a href="#">
                                    <img src="red.jpg" alt="RB">
                                </a><br>
                                <p id="TEAM 2 RB"></p>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="column black">
                                <a href="#">
                                    <img src="black.jpg" alt="LM">
                                </a><br>
                                <p id="TEAM 1 LM"></p>
                            </div>
                            <div class="column black">
                                <a href="#">
                                    <img src="black.jpg" alt="CM">
                                </a><br>
                                <p id="TEAM 1 CM"></p>
                            </div>
                            <div class="column black">
                                <a href="#">
                                    <img src="black.jpg" alt="RM">
                                </a><br>
                                <p id="TEAM 1 RM"></p>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="column red">
                                <a href="#">
                                    <img src="red.jpg" alt="LM">
                                </a><br>
                                <p id="TEAM 2 LM"></p>
                            </div>
                            <div class="column red">
                                <a href="#">
                                    <img src="red.jpg" alt="CM">
                                </a><br>
                                <p id="TEAM 2 CM"></p>
                            </div>
                            <div class="column red">
                                <a href="#">
                                    <img src="red.jpg" alt="RM">
                                </a><br>
                                <p id="TEAM 2 RM"></p>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="column1 black">
                                <a href="#">
                                    <img src="black.jpg" alt="LB">
                                </a><br>
                                <p id="TEAM 1 LB"></p>
                            </div> 
                            <div class="column1 black">
                                <a href="#">
                                    <img src="black.jpg" alt="CB1">
                                </a><br>
                                <p id="TEAM 1 CB1"></p>
                            </div>
                            <div class="column1 black">
                                <a href="#">
                                    <img src="black.jpg" alt="CB2">
                                </a><br>
                                <p id="TEAM 1 CB2"> </p>
                            </div>
                            <div class="column1 black">
                                <a href="#">
                                    <img src="black.jpg" alt="RB">
                                </a><br>
                                <p id="TEAM 1 RB"></p>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="column red">
                                <a href="#">
                                    <img src="red.jpg" alt="LW">
                                </a><br>
                                <p id="TEAM 2 LW"></p>
                            </div>
                            <div class="column red">
                                <a href="#">
                                    <img src="red.jpg" alt="CF">
                                </a><br>
                                <p id="TEAM 2 CF"></p>
                            </div>
                            <div class="column red">
                                <a href="#">
                                    <img src="red.jpg" alt="RW">
                                </a><br>
                                <p id="TEAM 2 RW"></p>
                                </div>
                            </div>
                            <br>
                        <div class="row">
                            <div class="column black">
                                <a href="#">
                                    <img src="black.jpg" alt="GK">
                                </a><br>
                                <p id="TEAM 1 GK"></p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="second">
                <h1>LIVE TICKER</h1>



        </div>-->
        <script type="text/javascript" src="/js/register.js"></script>
    </body>
</html>