<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/football.css">

    <title>Document</title>
</head>
<body>
    <form action="" method="">
        
        


        <div class="container">
            <label for="TEAM 1"> TEAM  : </label>
            <input type="text" id="TEAM 1" name="">
            <br>
            <br>
            TEAM PLAYERS
            <br><br>
            <label for="TEAM 1 GK"> GK : </label>
            <input type="text" id="TEAM 1 GK" name="">
            <br>
            <br> <label for="TEAM 1 LB"> LB : </label>
            <input type="text" id="TEAM 1 LB" name="">
            <br>
            <br> <label for="TEAM 1 CB1 "> CB1 : </label>
            <input type="text" id="TEAM 1 CB1" name="">
            <br>
            <br> <label for="TEAM 1 CB2"> CB2 : </label>
            <input type="text" id="TEAM 1 CB2" name="">
            <br>
            <br> <label for="TEAM 1 RB"> RB : </label>
            <input type="text" id="TEAM 1 RB" name="">
            <br>
            <br> <label for="TEAM 1 LM"> LM : </label>
            <input type="text" id="TEAM 1 LM" name="">
            <br>
            <br> <label for="TEAM 1 CM"> CM : </label>
            <input type="text" id="TEAM 1 CM" name="">
            <br>
            <br> <label for="TEAM 1 RM"> RM : </label>
            <input type="text" id="TEAM 1 RM" name="">
            <br>
            <br> <label for="TEAM 1 LW"> LW : </label>
            <input type="text" id="TEAM 1 LW" name="">
            <br>
            <br> <label for="TEAM 1 CF"> CF : </label>
            <input type="text" id="TEAM 1 CF" name="">
            <br>
            <br> <label for="TEAM 1 RW"> RW: </label>
            <input type="text" id="TEAM 1 RW" name="">
            <br>
            <br>
        </div>
        <br>
        <br> 
        <br>
        <br> <br>
        <br> <br>
        <br> <br>
        <br> 
        
        

    </form>
    <button type="submit" form="form1" value="Submit">Submit</button>
        <script type="text/javascript" src="../../public/js/register.js"></script>

</body>
</html>